<% @events.each do |event| %>
  <%= link_to(event) do %>
    <div class="col-md-4 thumb">
        <div class="thumbnail image">
            <img class="img-responsive icon effect" src="<%= event.image_url %>">
            <h2><span><%= event.headline %></span></h2>
            <% if event.is_competitive? %>
              <span class="label label-warning">Competitive</span>
            <% else %>
              <span class="label label-info">Recreational</span>
            <% end %>
        </div>
    </div>
  <% end %>
<% end %>
