<% @events.each do |event| %>
  <%= link_to(event) do %>
    <div class="col-md-4 thumb">
        <div class="thumbnail image">
            <img class="img-responsive icon effect" src="<%= event.image_url %>">
            <h2><span><%= event.headline %></span></h2>
            <h3 class="sport-label"><span class="marker-bg"></span></h3>
        </div>
    </div>
  <% end %>
<% end %>
