/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datetimepicker
 */

#content-window {

  height: 100%;
  /*background-color: white;*/
  padding: 1em;
  border-radius: 8px;

}

.content-secondary {

  background-color: rgba(0, 0, 0, 0.73);

}

.fill_page {

  height: 50%;

}

html,body,.container
{
    height:100%;
}
.container
{
    display:table;
    width: 100%;
    margin-top: -50px;
    padding-top: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.create-event-button {
  margin-top: 30px;
}


.search-header {
    background-color: rgba(59, 62, 68, 0.78);
    border-radius: 15px;
    height: 110px;
    padding-top: 3px;
}


.search-color {
  color: white;
}
