body {
    background: url(background-image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #FFF8DC;
}

button{
    display: block;
    border-radius: 4px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 15px 35px;
    border: 0;
    margin: 0px auto 0;
    cursor: pointer;
}

.back {
    opacity: .9;
    filter: alpha(opacity=10);
    max-width: 50%;
    margin: auto;
}
