/*sport-now-sportselect.css*/
body {
    background-image: image-url("/images/background-image.jpg") no-repeat center center fixed;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #FFF8DC;
}

html,body { height:100%; }

.container { height:100%;}

#header-color {
    background-color: #990000;
    opacity: .9;
    filter: alpha(opacity=90); /*for IE8 and earlier*/
    color: #fff;
}

th {
    text-align: center;
    background-color: pink;
}

ul {
    list-style-type: none;
}

tr:nth-child(even) {background-color: #f2f2f2}

tr:hover{background-color:#f5f5f5}

.sport-now-main {
    padding-top: 2em;
    background-color: #FFF;
    opacity: 0.9;
    text-align: center;
    border-radius: 8px;
}

.sport-now-main button {
    display: inline;
    height: 3em;
    width: 6em;
    margin-bottom: 2em;
}

.sport-now-main ul {
    margin-top: 4em;
}

.sport-now-main li {
    width: 33%;
}

.sport-container {
    height: 20em;
    margin-bottom: 2em;
}

.sport-icon {
  display: inline;
  height: 12em;
  width: 12em;
  margin-bottom: 1em;
}

.sidebar {
    padding-top: 4em;
    background-color: #222;
    opacity: 0.9;
    text-align: center;
    border-radius: 8px;
    float: left;
    margin-top: 16em;
    width: 14em;
}

.sidebar.feed {
    margin-top: 0em;
}

.sidebar img {
    display: inline;
    width: 80%;
    height: auto;
}

.sidebar button {
    margin-top: 5em;
    margin-bottom: 2em;
}

/*sidebar sub-class*/
ul.vert-one{
    margin:0;
    padding:0;
    list-style-type:none;
    display:block;
    font:bold 16px Helvetica, Verdana, Arial, sans-serif;
    line-height: 2em;
}

ul.vert-one li{
    margin:0;
    padding:0;
    border-top:1px solid #4D0000;
    border-bottom:1px solid #761A1A;
}

ul.vert-one li a{
    display:block;
    text-decoration:none;
    color:#fff;
    background:#600;
    padding: 10px 2px 10px 2px;
    width: 100%;
}

ul.vert-one li a:hover{
    background:#900 url("images/vert-one_arrow.gif") no-repeat 0 20px;

}

ul.vert-one li a.current,ul.vert-one li a.current:hover{
    background:#933 url("images/vert-one_arrow.gif") no-repeat 0 20px;
}
/*end of sidebar sub-class*/


.center-content {
    padding-top: 2em;
    background-color: #fff;
    opacity: 0.9;
    text-align: center;
    border-radius: 8px;
}

.center-content .event-info,
                .map-placeholder,
                .attendee-info,
                .chat-here {

    width: 45%;
    float:left;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 2em;

}

.center-content .chat-here{
    margin-top: 10em;
}

.center-content .user-rating,
                .user-placeholder,
                .user-info,
                .user-sport-info {

    width: 44%;
    float:left;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 2em;

}


.user-placeholder .user-profile {
    width: 80%
}
